html, body { 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: Arial, Helvetica, sans-serif;
}

.navbarBackground {
    background-color: grey;
    position: relative;
    width: auto; 
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 18%;
}

.navBar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#logo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Resources\My Post (1) (1).jpg");
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100vw;
    max-height: 36vw;
}

.heroImage .btn {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 5;
  }
  
  .heroImage .btn:hover {
    background-color: black;
  }

.titling1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.titling2 {
    text-align: center;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerTagline {
    text-align: center;
}

.homeContent {
    margin: auto;
    width: fit-content;
    text-justify: auto;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.titlingService1 {
    padding-top: 15px;
    text-align: center;
}

.serviceContent {
    margin: auto;
    width: fit-content;
    text-justify: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;;
}


.flexTable {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    flex-flow: wrap;
    padding: 5px;
}

.table1, .table2 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 5px;
    max-width: 300px;
    min-width: 218px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
  }

/*.service-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    justify-items: center;
  }
  */

.narrativeCost {
    margin: auto;
    width: fit-content;
    text-justify: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
}

.buyNow {
  margin: auto;
    width: fit-content;
    text-justify: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
}

.aboutContent {
    margin: auto;
    width: fit-content;
    text-justify: auto;
    text-align: center;
    font-size: 20px;
}

#jsheadshot {
    max-width: 100vw;
    max-height: 39vw;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titling1Contact {
    padding-top: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type=submit]:hover {
    background-color: blue;
  }
  
  .contactContainer {
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 50%;
  }